nav {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 36px 136px 0 33px;
}

nav div:first-of-type {
    display: flex;
    justify-content: space-between;
    width: 539px;
}

nav div:last-of-type {
    display: flex;
    justify-content: space-between;
    width: 81px;
}

