@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

$grey: #DEDEDE;
$red: #FF817C;
$white: #FFFFFF;

@mixin font($weight) {
    font-family: 'Roboto', sans-serif;
    font-weight: $weight;
    font-size: 1em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $grey;
}

h2 {
    margin: 0 15px;
    @include font(500);
}

p, button {
    margin: 0 15px;
    @include font(300);
}