// Couleur
$pink: #bf3676;
$darkviolet: #2f2359;
$violet: #4c3991;
$black: #222222;
$grey: #929292;

@mixin background($start) {
    background-image: linear-gradient($start, $violet, $darkviolet);
}

// Typographie
@mixin police($color, $size, $weight) {
    font-family: 'Poppins', sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    @include police(white, 46px, 800);
}

h2 {
    width: fit-content;
    @include police($pink, 40.5px, 700);
    padding-top: 65px;
    padding-bottom: 28px;
}

h4 {
    @include police(white, 11px, 400);
    font-style: initial;
    text-align: center;
}

hr {
    width: 248px;
    height: 2px;
    border-style: none;
    background-color: $pink;
}

// Responsive
// Tablette
@media (max-width: 900px) {
    h1 {
        text-align: center;
    }
}

// Téléphone
@media (max-width: 600px) {
    h1 {
        font-size: 35px;
        text-align: center;
    }
}