.footer-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-top: 36px;
    height: 228px;
    width: 500px;

    a {
        @include police(white, 18px, 600);
        text-decoration: none;
        margin-bottom: 30px;
        margin-right: 59px;
    }
}

// Responsive
@media (max-width: 900px) {
    .footer-nav {
        height: auto;
        width: fit-content;
        
        a {
            margin-right: 0;
        }
    }
}