.txt-rotate {
    position: absolute;
    transform: rotate(90deg);
    right: -88.8px;
    top: 158vh;

    @include police($grey, 8.5px, 400);
}

// Responsive
@media (max-width: 900px) {
    .txt-rotate{
       display: none;
    }
}