.txt-rotate {
    position: absolute;
    transform: rotate(90deg);
    right: -88.8px;
    top: 158vh;

    @include police($grey, 8.5px, 400);
}

// Responsive
@media (max-width: 900px) {
    .txt-rotate{
       display: none; // Le texte n'est pas visible en responsive car il n'ajoute pas un grand interêt au site en lui-même.
    }
}