.part-1-article {
    width: 520px;
    display: flex;
    align-items: flex-start;
    padding-top: 50px;

    img {
        margin: auto 31px auto 0;
    }

    h3 {
        @include police($black, 21px, 600);

        &::after{
            content: " .";
            @include police($pink, 60px, 600);
        }
    }

    p {
        @include police($black, 16px, 500);
    }
}

// Responsive
@media (max-width: 900px) {
    .part-1-article {
        width: 100%;

        div {
            width: 100%;
        }

        h3 {
            line-height: 20px;
            margin-bottom: 20px;
        }
    }
}