.part-4-bg {
    p:first-of-type {
        @include police($black, 24px, 500);

        &::first-letter {
            white-space: nowrap;
            overflow: hidden;
            font-size: 100px;
            float: left;
        }
    }

    p {
        @include police($black, 24px, 500);
    }

    p:last-of-type {
        margin-top: 24px;
        @include police($grey, 14px, 400);
        font-style: italic;
    }
}