.part-1-p {
    width: 790px;
    text-align: center;

    @include police($black, 18px, 500);
}

// Responsive
// Tablette
@media (min-width: 601px) and (max-width: 900px) {
    .part-1-p {
        width: 90vw;
    }
}

// Téléphone
@media (max-width: 600px) {
    .part-1-p {
        width: 100vw;
    }
}