.part-4-bg {
    p:first-of-type {
        @include police($black, 24px, 500);

        &::first-letter {
            font-size: 72px;
            float: left;
            line-height: 60px;
        }
    }

    p {
        @include police($black, 24px, 500);
        line-height: 30px;
    }

    p:last-of-type {
        margin-top: 24px;
        @include police($grey, 14px, 400);
        font-style: italic;
        line-height: 20px;
    }
}